<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <title>Produkty</title>
</head>
<body>
<div class="links">
<a href="list">Wszystkie produkty</a> <br/>
<a href="list?category=domowe">Produkty z kategori domowe</a> <br/>
<a href="list?category=spozywcze">Produkty z kategori spozywcze</a><br/>

    <form action="/add" method="post" th:object="${product}">

    <input type="text" placeholder="Product name" th:field="*{name}" />
    <input type="text" placeholder="Price" th:field="*{price}" />
    <input type="text" placeholder="Category" th:field="*{category}" />
    <input type="submit" value="Add" />

    </form>
</div>
</body>
</html>